node_modules/
.pnpm-store/

.venv/
__pycache__/
*.py[cod]

.env
.env.*

.svelte-kit/
build/
dist/

data/raw/
data/interim/
data/processed/

models/checkpoints/
models/experiments/

*.nc
*.nc4
*.h5
*.hdf5
*.zarr

.vscode/
.idea/

.pytest_cache/
.mypy_cache/
.ruff_cache/

# This is 20+ GB of data
data/

# Jupyter
.ipynb_checkpoints/